<%- include("partials/header"); -%>
<h1>HOME</h1>
<p><%= homeContent %></p>

<% postsPublished.forEach(function(post){ %>
    <% let urlTitle = post.title.toLowerCase(); %>
    <% let urlTitleReplaced = urlTitle.replace(/ /g, '-'); %>

    <h2><a href="/posts/<%= urlTitleReplaced %>"><%= post.title %></a></h2>

    <% let bodyLength = post.body.length; %>

    <% if(bodyLength>=100){ %>
        <% let bodyWith10Characters = post.body.slice(0, 100); %>
        <p><%= bodyWith10Characters + "..." %><a href="/posts/<%= urlTitleReplaced %>"> Read More</a></p>
    <% }else{ %>

        <p><%= post.body %><a href="/posts/<%= urlTitleReplaced %>"> Read More</a></p>
    <% } %>
   
    

   
    
<% }); %>

<%- include("partials/footer"); -%>