<%- include("partials/header"); -%>

<h1><%= postTitle %></h1>
<h3><span class="little">Autor: <%= postAutor %> - </span>  <span class="little">Fecha de publicacion: <%= postDate %></span></h3>


<p class="formatText"><%= postBody %></p>

<%- include("partials/footer"); -%>